[gunicorn]
# - is stdout
accesslogfile = -
errorlogfile = -

[flask]
# LEAVE EMPTY dect-wip generates secret key on first startup  
secret_key = 
swagger_enabled = False

[event]
name = annual ADE meeting
# update extension.conf if token is changed - search for String: #finde_me token
token_prefix = 01990
token_random_count = 8
show_voucher = False

[omm]
ip = 10.10.10.10
port = 12622
# To use SSL the ports needs to be set to 12622
# SSL is supported on almost every OMM version
# OMM version >9 does not support unencrypted connection
use_ssl = true
username = ade
password = ade

[asterisk]
pjsip_wizard_user_conf = /etc/asterisk/pjsip_wizard_user.conf
pjsip_wizard_temp_conf = /etc/asterisk/pjsip_wizard_temp.conf

# configured in /etc/asterisk/manager.conf
ami_host = 127.0.0.1
ami_port = 5038
ami_user = dect-wip
ami_password = changeME

[dect-wip]
listen_ip = 0.0.0.0
internal_ip = 127.0.0.1
port = 8080

[mitelphonebook]
# Mitel XSI-Personal-Directory usually searches for foobar*
# if this option is set to true we add * at the beginning and do basically a contains(*foobar*) search not a starts with(foobar*)
always_search_with_contains = True
listen_ip = 0.0.0.0
port = 8082

[ommsync]
listen_ip = 0.0.0.0
port = 8081
enable_subscription = true
auth_code = 0000
