[Unit]
Description=Start DECT-Self-Registration
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
ExecStart=/opt/dect-wip/services/dect-wip/_start_app.sh
WorkingDirectory=/opt/dect-wip/services/dect-wip/
Environment=

[Install]
WantedBy=multi-user.target
