{% extends 'base.html.j2' %}

{% block content %}

<!-- Überschrift -->

<div class="container-xl mt-3 mb-3">
    <p class="h3">Login</p>
</div>


<!-- Forms -->

<div class="container-xl">

  {% if info_message|length > 0 %}
  <div class="alert alert-info" role="alert">
    {{ info_message }}
  </div>
  {% endif %}

  {% if error_message|length > 0 %}
  <div class="alert alert-danger" role="alert">
    {{ error_message }}
  </div>
  {% endif %}

  <!-- Login-Form -->
  <form action="/login/" method="POST">

    <div class="mb-3">
      <label class="form-label">Username:</label>
      <input type="text" class="form-control" name="username" aria-describedby="username">
    </div>

    <div class="mb-3">
      <label class="form-label">Password:</label>
      <input type="password" class="form-control" name="password">
    </div>

    <div class="mb-3">
      <label style="display:none;" id="password_repeat_label" class="form-label">Password wiederholen:</label>
      <input style="display:none;" id="password_repeat" type="password" class="form-control" name="password_repeat">
    </div>

    <input id="action" type="hidden" name="action" value="login">
    <button id="submit" type="submit" class="btn btn-primary">Anmelden</button>

  </form>

  <br>
  <button onclick="RegisterView()" id="RegisterViewButton" class="btn btn-secondary">Kein Login? Hier registrieren</button>
  <button onclick="LoginView()" id="LoginViewButton" class="btn btn-secondary" style="display:none;">Schon Registriert? Hier anmelden</button>

</div>

<script>

  function LoginView() {
    document.getElementById("RegisterViewButton").style.display = "inline";
    document.getElementById("password_repeat").style.display = "none";
    document.getElementById("password_repeat_label").style.display = "none";
    document.getElementById("LoginViewButton").style.display = "none";
    document.getElementById("submit").innerText = "Anmelden";
    document.getElementById("action").value = "login";
  }

  function RegisterView() {
    document.getElementById("RegisterViewButton").style.display = "none";
    document.getElementById("password_repeat").style.display = "inline";
    document.getElementById("password_repeat_label").style.display = "inline";
    document.getElementById("LoginViewButton").style.display = "inline";
    document.getElementById("submit").innerText = "Registrieren";
    document.getElementById("action").value = "register";
  }

</script>

{% endblock %}