[flask]
secret_key = '7355608'

[omm]
ip = 192.168.42.23
port = 12621
username = omm
password = pass

[asterisk]
pjsip_wizard_user_conf = /etc/asterisk/pjsip_wizard_user.conf
pjsip_wizard_temp_conf = /etc/asterisk/pjsip_wizard_temp.conf
