[Unit]
Description=DECT - Mitel Phonebook
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
ExecStart=/opt/dect-wip-mitel-phonebook/_start_app.sh
Environment=

[Install]
WantedBy=multi-user.target
